body{
    padding: 0;
    margin:0;
    --primary-color: #10A19D;
    --secondary-color: #FFA62B;
    font-family: 'inter';
}

.header{
    padding: 0;
    margin: 0;
}
.header .logo{
    padding-left: 5%;
    width: 100%;
    height: auto;
}
.header .logo img{
    width: 40%;
}
.nav{
    font-size: 1.1em;
    padding: 0px 2%;
    margin: 0;
    font-weight: 500;
}
.nav ul{
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-color);   
    color: white;
    text-decoration: none;
    border-radius: 3px;
    list-style: none;
}
.inf p{
    margin: 0px 0px;
    padding-right: 2%;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    text-align: end;
}
tr td:nth-child(1) {
    color:white;
    background-color: var(--primary-color);
}
tr:nth-child(1),
tr:nth-child(2) {
  background: var(--primary-color);
  color: white;
}
table{
    width: 96%;

}
.details{
    padding: 2%;
    display: flex;
}
.details .details-one{
    width: 30%;
    font-size: 1.1em;
}
.details .details-two{
    display: flex;
    font-size: 1.1em;
    margin-left: 20%;
    padding-left: 1%;
    padding-right: 5%;
    border-radius: 20px;
    border:solid 3px violet;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0.2,0.6);
}
.details .details-two ul{
    list-style: none;
    padding-left: 10px;
}
.footer{
    padding:2%;
    margin: 0;
}
.footer-content{
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.9em;
    border-radius: 5px;
    font-weight: 600; 
    background-color: var(--primary-color);
}