* {
  margin: 0;
  padding: 0;
}

section {
  margin: 10px;
  padding: 20px;
}

section table {
  margin: auto;
  padding: auto;
  width: 80%;
  border-collapse: collapse;
}

section table tr, section table td, section table th {
  padding: 7px 20px;
}

section table td {
  width: 50%;
}

section table tr:last-child {
  text-align: center;
}

section table tr:last-child td {
  width: 100%;
  padding: 20px;
}

section table tr:last-child td input {
  margin: 0 50px;
  padding: 4px 18px;
  border: 2px solid black;
  border-radius: 6px;
}

section table .legend {
  margin: 10px;
  padding: 10px;
}

section table .legend fieldset {
  margin: 10px;
  padding: 20px;
  height: 140px;
}
