
table,tr,td{
   background-color: pink;
    border-collapse: collapse;
    border-color: black;
    border: 1px;
    border: solid;
    width: 10cm;
    height: 1cm;
    width: 40%;
    padding: 0.5%;
}